public/* linguist-documentation
*.html linguist-documentation
*.css linguist-documentation
*.js linguist-documentation
*.json linguist-documentation
*.md linguist-documentation
*.txt linguist-documentation
*.xml linguist-documentation
*.yml linguist-documentation
*.yaml linguist-documentation
*.sh linguist-documentation
*.bat linguist-documentation
*.ps1 linguist-documentation
*.csproj linguist-documentation
*.sln linguist-documentation
*.cs linguist-documentation
*.dll linguist-documentation
*.exe linguist-documentation
*.pdb linguist-documentation
*.cache linguist-documentation
*.dbmdl linguist-documentation